<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Insittuo Nacional Thomas Jefferson - Malla</title>
        <link rel="icon" type="image/x-icon" href="../../img/icon/divericon.ico">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div align="right" class="container">
            <div class="boton"><a href="../../public/index.html">Menu</a></div>
        </div>
        <center>
            <h3>MALLA CURRICULAR DEL BACHILLERATO TÉCNICO VOCACIONAL EN DESARROLLO DE SOFTWARE</h3>
            <table>
                <tr>
                    <td>
                        <table class="tabla">
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño">Primer Año</th>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.0</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">18 HRS</th>
                                <th colspan="4" align="center" class="linea">1 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Orientación de estudiantes al proceso educativo del primer año de estudio</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.1</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">108 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Elaboración de algoritmos usando lógica de programación</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.2</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">90 HRS</th>
                                <th colspan="4" align="center" class="linea">5 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Identificación de requerimientos para diseñar o modificar sistemas informáticos</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.3</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">72 HRS</th>
                                <th colspan="4" align="center" class="linea">4 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Diseño de Aplicaciones Multimedia<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.4</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">108 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Elaboración de manual de sistemas de calidad para el desarrollo de software<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.5</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">108 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Desarrollo de páginas Web<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.6</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">72 HRS</th>
                                <th colspan="4" align="center" class="linea">4 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Conversación en inglés sobre sistemas informáticos y desarrollo de páginas Web </td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.7</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">72 HRS</th>
                                <th colspan="4" align="center" class="linea">14 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Emprendedurismo colaborativo<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="primeraño"><a href="#">BTVDS 1.8</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">72 HRS</th>
                                <th colspan="4" align="center" class="linea">4 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="12" align="center" class="linea">Proyecto tecnológico de desarrollo de páginas Web</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="6" align="left" id="primeraño" class="linea">Total Horas:</th>
                                <th colspan="6" align="center" id="primeraño" class="linea">Total semanas:</th>
                            </tr>
                            <tr class="columna">
                                <th colspan="6" align="center" class="linea">720 hrs.</th>
                                <th colspan="6" align="center" class="linea">40 sem.</th>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="tabla">
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño">Segundo Año</th>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="../lvl/segundoaño/descriptor/btvds0.html">BTVDS 2.0</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">18 HRS</th>
                                <th colspan="4" align="center" class="linea">1 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Orientación de estudiantes al proceso educativo del segundo año de estudio</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.1</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">108 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Diseño de Sistemas informáticos<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.2</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">108 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Diseño de arquitectura de software<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.3</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">90 HRS</th>
                                <th colspan="4" align="center" class="linea">5 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Programación de componentes de Base de Datos </td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.4</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">90 HRS</th>
                                <th colspan="4" align="center" class="linea">5 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Desarrollo de Programación orientada a objetos<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.5</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">90 HRS</th>
                                <th colspan="4" align="center" class="linea">5 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Diseño e instalación de Redes LAN.<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.6</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">72 HRS</th>
                                <th colspan="4" align="center" class="linea">4 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Conversación en inglés sobre arquitectura de software y base de datos </td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.7</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">72 HRS</th>
                                <th colspan="4" align="center" class="linea">4 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Diseño de planes de negocio en asociatividad cooperativa</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="segundoaño"><a href="#">BTVDS 2.8</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">72 HRS</th>
                                <th colspan="4" align="center" class="linea">4 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" class="linea">Proyecto innovador de desarrollo de portales Web</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="6" align="left" id="segundoaño" class="linea">Total Horas:</th>
                                <th colspan="6" align="center" id="segundoaño" class="linea">Total semanas:</th>
                            </tr>
                            <tr class="columna">
                                <th colspan="6" align="center" class="linea">720 hrs.</th>
                                <th colspan="6" align="center" class="linea">40 sem.</th>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="tabla">
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño">Tercer Año</th>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.0</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">30 HRS</th>
                                <th colspan="4" align="center" class="linea">1 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Orientación de estudiantes al proceso educativo del tercer año de estudio </td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.1</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">240 HRS</th>
                                <th colspan="4" align="center" class="linea">8 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Desarrollo de aplicaciones de software para la solución de problemas</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.2</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">120 HRS</th>
                                <th colspan="4" align="center" class="linea">4 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Mantenimiento y aseguramiento de la operación del sistema informático </td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.3</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">180 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Administración de Bases de Datos<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.4</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">180 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Elaboración de documentación de Sistemas informáticos<br><br></td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.5</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">180 HRS</th>
                                <th colspan="4" align="center" class="linea">6 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Desarrollo de componentes para dispositivos móviles</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.6</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">90 HRS</th>
                                <th colspan="4" align="center" class="linea">3 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Conversación en inglés sobre mantenimiento de sistemas informáticos </td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.7</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">90 HRS</th>
                                <th colspan="4" align="center" class="linea">3 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Puesta en marcha de la microempresa en asociatividad cooperativa</td>
                            </tr>
                            <tr class="columna">
                                <th colspan="7" align="center" class="linea" id="terceraño"><a href="#">BTVDS 3.8</a></th>
                            </tr>
                            <tr class="columna">
                                <th colspan="3" align="center" class="linea">90 HRS</th>
                                <th colspan="4" align="center" class="linea">3 SEM</th>
                            </tr>
                            <tr class="columna">
                                <td colspan="7" align="center" clas="linea">Proyecto innovador de desarrollo de Software </td>
                            </tr>
                            <tr class="columna">
                                <th colspan="6" align="left" id="terceraño" class="linea">Total Horas:</th>
                                <th colspan="6" align="center" id="terceraño" class="linea">Total semanas:</th>
                            </tr>
                            <tr class="columna">
                                <th colspan="6" align="center" class="linea">1200 hrs.</th>
                                <th colspan="6" align="center" class="linea">40 sem.</th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>